.product-row {
    width: 90%;
    justify-content: space-evenly;
    display: flex;
}

.product-btn {
    background-color: #CE7BB0;
    padding: 7px 15px;
    border: #CE7BB0;
    width: 50%;
}

.btn {
    background-color: #CE7BB0;
    border: #CE7BB0;
    color: white;
    font-weight: bold;
}

.btn:hover, .product-btn:hover {
    background-color: #FFBCD1;
    border: #CE7BB0;
    color: #852762;
    font-weight: bold;
}

.product-card:hover {
    box-shadow: 0 0 5px #FFBCD1, 0 0 25px #FFBCD1, 0 0 30px #FFBCD1, 0 0 50px #FFBCD1;
}

.nav-link {
    color: black;
}

.map-iframe {
    width: 100%;
    height: 100%;
}

.search-bar {
    margin: auto;
}

.perfume-one-product {
    margin: auto;
}

.google-map, .one-product-card {
    border: none;
}

.email {
    text-decoration: underline;
    color: rgb(51, 34, 9);
}